<div class="hope">
    <div class="am-g am-container">
        <div class="am-leftpart">
            <div>
                <h1 class="hope-title hope-font ">与亿灵一起</h1>
            </div>
            <div>
                <p class="hope-font hope-content">永远不成为技术的过客，永远在路上</p>
            </div>
        </div>
        <div class="am-rightpart">
            <div>
                <h1 class="hope-font">友情链接</h1>
            </div>
            <div>
                <p class="hope-font ">
                    <a class="am-dropdown-toggle hope-font hope-content" data-am-dropdown-toggle="" href="http://www.nankai.edu.cn/">南开大学</a>
                </p>
                <p class="hope-font ">
                    <a class="am-dropdown-toggle hope-font hope-content" data-am-dropdown-toggle="" href="http://cs.nankai.edu.cn/index.php/zh/">南开大学软件学院</a>
                </p>
                <p class="hope-font ">
                    <a class="am-dropdown-toggle hope-font hope-content" data-am-dropdown-toggle="" href="https://cnodejs.org/">NodeJS中文社区</a>
                </p>
            </div>
        </div>
    </div>
    <p style="width:80%;text-align:center">
        <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? "https://" : "http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1276780599'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s96.cnzz.com/z_stat.php%3Fid%3D1276780599%26online%3D1%26show%3Dline' type='text/javascript'%3E%3C/script%3E"));</script>
    </p>
</div>
<script src="https://lib.baomitu.com/amazeui/2.7.2/css/amazeui.min.css"></script>
