<%- include('./begin.html') %>

  <body>
    <%- include('./header.html') %>
      <link rel="stylesheet" href="<%= prefix %>/assets/css/webtools.css">
      <div class="services" id="services">
        <div class="container">
          <div class="agile-heading">
            <h1> Services </h1>
            <div class="apps"></div>
          </div>
        </div>
      </div>

      <%- include('./footer.html') %>
        <script>
          var _data = [

            {

              "name": "smallpdf",

              "url": "http://smallpdf.com/cn",

              "icon": "file-pdf-o",

              "description": "让您轻松转换和编辑所有PDF文件的平台"

            },

            {

              "name": "二维码制作",

              "url": "http://cli.im/",

              "icon": "qrcode",

              "description": "国内最大的二维码生成网站"

            },
            {

              "name": "redream",

              "url": "http://www.redream.cn/main/index.php",

              "icon": "edge",

              "description": "Redream|南开题库|南开商城|ipv6电视"

            },

            {

              "name": "中国大学mooc",

              "url": "http://www.icourse163.org/",

              "icon": "video-camera",

              "description": "最好的在线课程学习平台"

            },

            {

              "name": "在线PS",

              "url": "http://www.uupoop.com/",

              "icon": "file-picture-o",

              "description": "在线PS,免去了PS下载 &nbsp;  从此进行在线PS"

            },

            {

              "name": "在线代码运行",

              "url": "http://www.ideone.com",

              "icon": "file-code-o",

              "description": "在线运行php,c,c++,python,java编程语言 便于您在移动端测试代码"

            },

            {

              "name": "ip138",

              "url": "http://www.ip138.com/",

              "icon": "location-arrow",

              "description": "在线查询您的内外网ip地址 及其他ip信息"

            },

            {

              "name": "resume maker",

              "url": "https://resume-builder.qwilr.com/",

              "icon": "sticky-note",

              "description": "专业的简历制作网站 让您在线制作精美的个人简历"

            },

            {

              "name": "WolframAlpha",

              "url": "http://m.wolframalpha.com/",

              "icon": "calculator",

              "description": "WolframAlpha 强劲的搜索和运算引擎"

            },

            {

              "name": "OfficePlus",

              "url": "http://www.officeplus.cn",

              "icon": "windows",

              "description": "微软Office官方在线模板网站"

            },

            {

              "name": "Github",

              "url": "http://www.github.com/",

              "icon": "github",

              "description": "Github helps your team work online."

            },

            {

              "name": "马克飞象",

              "url": "https://maxiang.io/",

              "icon": "sticky-note-o",

              "description": "专为印象笔记（Evernote）打造的Markdown编辑器."

            }
          ];
          var _html = "";
          for (var i = 0; i < _data.length; i++) {
            _html += '<a href="' + _data[i].url + '" target="_blank"';
            _html += i; // xs   small  md mid
            _html += '"><div class="am-u-md-4 am-u-lg-3 am-u-sm-6 wthree-services">';
            _html += '<div class="wthree-services-grid">';
            _html += '<div class="wthree-services-info">';
            _html += '<i class="am-icon-';
            _html += _data[i].icon;
            _html += ' am-icon-lg">';
            _html += '</i>';
            _html += '<h4>';
            _html += _data[i].name;
            _html += '</h4></div><div class="wthree-services-captn"><h4>';
            _html += _data[i].name;
            _html += '</h4><p>';
            _html += _data[i].description;
            _html += '</p></div></div></div></div></a>';
          }

          $('.apps').html(_html);
        </script>
  </body>

  </html>